// theser are colors from huddle
$pink: hsl(322, 100%, 66%);
$lightPink: hsl(321, 100%, 78%);
$lightRed: hsl(0, 100%, 63%);
$darkCyan: hsl(192, 100%, 9%);
$paleBlue: hsl(207, 100%, 98%);
$skyBlue: #00c7fa;
$skyBlueHover: #8ee8ff;

// these are colors from coffee roasters
$darkCyanCofeee: hsl(179, 81, 29);
$darkGreyBlue: hsl(215, 19, 25);
$grey: hsl(215, 5, 54);
$paleOrange: hsl(25, 94, 86);
$lightCream: hsl(43, 078, 98);

// setting some variables
body {
  background-color: $lightCream;
  font-family: "Open Sans", sans-serif;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-900 {
  font-weight: 900;
}
.dark-cyan {
  color: $darkCyan;
}

.padding-container {
  padding-left: 24px;
  padding-right: 24px;
}
.width-container {
  max-width: 1400px;
  margin: 0 auto;
}

.fraunces {
  font-family: "Fraunces", serif;
}
.barlow {
  font-family: "Barlow", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}
.opensans {
  font-family: "Open Sans", sans-serif;
}

.page {
  min-height: calc(100vh - 85px);
}
// buttons

.btn {
  font-family: "Open Sans", sans-serif;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  font-size: 1em;
  font-weight: 600;
  border-radius: 2.5em;
}
.btn-primary {
  background-color: #ff52bf;
  border: 1px #ff52bf solid;
}
.btn-primary:hover {
  background-color: #ff8fd8;
  border: 1px #ff8fd8 solid;
}
.btn-primary:active {
  background-color: $pink;
  border: 1px $pink solid;
}
.btn-primary:focus {
  background-color: $lightPink !important;
  border: 1px $pink solid !important;
}
.btn-outline-primary {
  background-color: #fff;
  color: #ff52bf;
  border: 1px #ff52bf solid;
}
.btn-outline-primary:hover {
  background-color: $lightPink;

  border: 1px $lightPink solid;
}
.btn-sky {
  color: white;
  background-color: $skyBlue;
  border: 1px $skyBlue solid;
}
.btn-sky:hover {
  background-color: $skyBlueHover;
  border: 1px $skyBlueHover solid;
}
.btn-sky:active {
  background-color: $skyBlueHover;
  border: 1px $skyBlueHover solid;
}
.btn-sky:focus {
  background-color: $skyBlueHover !important;
  border: 1px $skyBlueHover solid !important;
}
.btn-outline-sky {
  background-color: #fff;
  color: $skyBlue;
  border: 1px $skyBlue solid;
}
.btn-outline-sky:hover {
  background-color: $skyBlueHover;
  border: 1px $skyBlueHover solid;
}

header {
  .width-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .left-side {
      h1 {
        cursor: pointer;
      }
    }
    .right-side {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .btn {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0;
      }
    }
  }
}

#home-page {
  .width-container {
    min-height: calc(100vh - 85px);
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    .left-side {
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      p {
        line-height: 1.5;
      }
    }
    .right-side {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }
}

#sign-in-page {
  display: none;
  .width-container {
    min-height: calc(100vh - 85px);
    width: 100%;
    padding-top: 5rem;

    .invalid-credentials {
      display: none;
      p {
        color: $lightRed;
      }
    }
  }
}
#sign-up-page {
  display: none;
  .width-container {
    min-height: calc(100vh - 85px);
    width: 100%;
    padding-top: 5rem;
  }
}
#my-requests-page {
  display: none;
  .width-container {
    min-height: calc(100vh - 85px);
    width: 100%;
    padding-top: 5rem;
  }
}
#pending-requests-page {
  display: none;
  .width-container {
    min-height: calc(100vh - 85px);
    width: 100%;
    padding-top: 5rem;
  }
}
#employee-request {
  display: none;
  .width-container {
    min-height: calc(100vh - 85px);
    width: 100%;
    padding-top: 5rem;
  }
}

#all-employees {
  display: none;
  .width-container {
    min-height: calc(100vh - 85px);
    width: 100%;
    padding-top: 5rem;
  }
}
#all-requests-page {
  display: none;
  .width-container {
    min-height: calc(100vh - 85px);
    width: 100%;
    padding-top: 5rem;
  }
}
#manage-requests {
  display: none;
  .width-container {
    min-height: calc(100vh - 85px);
    width: 100%;
    padding-top: 5rem;
  }
}
#user-home {
  display: none;
  .width-container {
    min-height: calc(100vh - 85px);
    width: 100%;
    padding-top: 5rem;
    grid-template-columns: 1fr;
    .left-side {
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      p {
        line-height: 1.5;
      }
    }
    .right-side {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  header {
    .width-container {
      flex-direction: row;
    }
  }
  #home-page {
    .width-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .right-side {
        display: flex;
        justify-content: end;
        .btn {
          margin-left: 0.5rem;
          margin-right: 0.5rem;
          margin-top: 0rem;
          margin-bottom: 0rem;
        }
      }
    }
  }
  #user-home {
    .width-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
}
@media screen and (min-width: 992px) {
}
